extends layout

block head
  script(src="/javascripts/index.js")


block content

  div(id="alert-container" class="alert-container")

  h1= 'socket聊天室 | '
    a(href="https://github.com/liceal/chatroom_express") Github
  input(id="sendMsg" type="text" onkeydown="enterSend(event)")
  button(onclick="send()") 发送
  span(id="user" style="margin-left:10px;white-space: nowrap;")
  div(class="container1")
    div(id="content" class="content")
    div(id="list" class="list")
