body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container1{
  padding-top: 20px;
  height: 300px;
  display: flex;
}

.content{
  border:1px solid;
  width:50vw;
  height:100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.line{
  margin: 5px;
  border-bottom: 1px solid;
  scroll-snap-align: center;
}

.list{
  margin-left: 5px;
  border: 1px solid ;
  width: calc(25vw - 5px);
  height: 100%;
  overflow: auto;
}

.alert-container{
  top: 5px;
  position: fixed;
  right: 5px;
}

.alert{
  margin-bottom: 5px !important;
}

/*a  upload */
.a-upload {
  position: relative;
}

.a-upload  input {
  position: absolute;
  opacity: 0;
  cursor: pointer
}

.inputDiv{
  border : 1px solid ;
  padding: 3px;
  min-height: 67px;
  display: inline-block;
  min-width: 300px;
}